@model edocs.Models.DocContent

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/shared/_MainLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DocContent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DOCFk.NUMBEROF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOCFk.NUMBEROF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TYPE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TYPE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CONTENT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CONTENT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOTES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOTES)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPTION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPTION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATEDOC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATEDOC)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NUMBERDOC }) |
    @Html.ActionLink("Back to List", "Index")
</p>
