@model IEnumerable<edocs.Models.DocContent>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_MainLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DOCFk.NUMBEROF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TYPE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CONTENT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOTES)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESCRIPTION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATEDOC)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DOCFk.NUMBEROF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TYPE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CONTENT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOTES)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESCRIPTION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATEDOC)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.NUMBERDOC }) |
            @Html.ActionLink("Details", "Details", new { id=item.NUMBERDOC }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.NUMBERDOC })
        </td>
    </tr>
}

</table>
