@model edocs.Models.UserCategory


@{
    ViewBag.Title = "استعراض بيانات صلاحية";
    Layout = "~/Views/shared/_MainLayout.cshtml";
}

@section addcss{
    <link href="@Url.Content("~/content/simple-crud.css")" rel="stylesheet" type="text/css" />
}

@section addtolbar{
    <li class="breadcrumb-item"><a href="@Url.Action("Index", "UserCategory")">الصلاحيات</a></li>
    <li class="breadcrumb-item active">تفاصيل الصلاحية</li>
}


<section class="records-module">
    <div class="records-heading">
        <div>
            <span class="records-eyebrow">
                <i class="fa fa-eye"></i>
                تفاصيل
            </span>
            <h2>تفاصيل الصلاحية</h2>
            <p>عرض بيانات الصلاحية المحددة.</p>
        </div>
    </div>

    <div class="records-card">
        <div class="records-card-header">
            <div>
                <h3>معلومات الصلاحية</h3>
            </div>
        </div>

        <div class="records-card-body">
            <dl class="details-list">
                <div class="details-row">
                    <dt>@Html.DisplayNameFor(model => model.CategoryFK.NAME)</dt>
                    <dd>
                        <span class="record-name-badge">
                            @Html.DisplayFor(model => model.CategoryFK.NAME)
                        </span>
                    </dd>
                </div>
            </dl>
            <dl class="details-list">
                <div class="details-row">
                    <dt>اسم المستخدم</dt>
                    <dd>
                        <span class="record-name-badge">
                            @Html.DisplayFor(model => model.UserFK.UserName)
                        </span>
                    </dd>
                </div>
            </dl>
            <dl class="details-list">
                <div class="details-row">
                    <dt>@Html.DisplayNameFor(model => model.TYPE)</dt>
                    <dd>
                        <span class="record-name-badge">
                            @Html.DisplayFor(model => model.TYPE)
                        </span>
                    </dd>
                </div>
            </dl>

            <div class="records-actions">
                <a href="@Url.Action("Edit", "UserCategory", new { id = Model.ID })" class="btn-app-primary">
                    <i class="fa fa-pencil"></i>
                    تعديل
                </a>

                <a href="@Url.Action("Index", "UserCategory")" class="btn-app-secondary">
                    <i class="fa fa-arrow-right"></i>
                    العودة للقائمة
                </a>
            </div>
        </div>
    </div>
</section>
