@model edocs.Models.Category

@{
    ViewBag.Title = "تعديل بيانات صنف";
    Layout = "~/Views/shared/_MainLayout.cshtml";
}

@section addcss{
    <link href="@Url.Content("~/content/simple-crud.css")" rel="stylesheet" type="text/css" />
}

@section addtolbar{
    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Category")">الاصناف</a></li>
    <li class="breadcrumb-item active">تعديل بيانات صنف</li>
}


<section class="records-module">
    <div class="records-heading">
        <div>
            <span class="records-eyebrow">
                <i class="fa fa-pencil"></i>
                تعديل
            </span>
            <p>قم بتحديث الصنف مع الانتباه إلى أن هذا التعديل قد يؤثر على الوثائق المرتبطة به.</p>
        </div>
    </div>

    <div class="records-card">
        <div class="records-card-header">
            <div>
                <h3>بيانات الصنف</h3>
                <span>يرجى اختيار اسم واضح ومختصر للصنف.</span>
            </div>
        </div>

        <div class="records-card-body">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "records-form" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ID)

                <div class="form-group">
                    @Html.LabelFor(model => model.PARENT_NAME, "التصنيف الأب", htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.DropDownList("PARENT_NAME", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PARENT_NAME, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.NAME, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.NAME, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NAME, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DESCR, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.DESCR, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DESCR, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FOLDER_NAME, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.FOLDER_NAME, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FOLDER_NAME, "", new { @class = "text-danger" })
                </div>

                <div class="records-actions">
                    <button type="submit" class="btn-app-primary">
                        <i class="fa fa-save"></i>
                        حفظ التعديلات
                    </button>

                    <a href="@Url.Action("Index", "Category")" class="btn-app-secondary">
                        <i class="fa fa-arrow-right"></i>
                        العودة للقائمة
                    </a>
                </div>
            }
        </div>
    </div>
</section>